<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.title != 'Home' %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }} | {{ site.tagline }}
    {% endif %}
  </title>
  <meta name="description" content="{{ site.meta.description }}" />
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/site.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/icons/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/public/favicon.ico">
  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  {% if site.google.analytics %}
    {% include analytics.html %}
  {% endif %} 
</head>
