<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% capture title %}{% if page.title != 'Home' %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }} - {{ site.tagline }}{% endif %}{% endcapture %}
<title>{{ title }}</title>
{% capture description %}{% if page.tagline %}{{ page.tagline }}{% else %} {{ site.meta.description }}{% endif %}{% endcapture %}
<meta name="description" content="{{ description }}" />
<meta name="author" content="{{ site.author.name }}">
<!-- SOCIAL -->
{% capture image %}{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}{{ site.author.image }}{% endif %}{% endcapture %}
<meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}" />
<meta name="twitter:site" content="@{{ site.author.twitter }}" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ image }}" />
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
{% if page.image %}<meta name="twitter:creator" content="@{{ site.author.twitter }}" />{% endif %}
<link rel="publisher" href="https://plus.google.com/103654360130207659246">
<link rel="me" href="https://twitter.com/{{ site.author.twitter }}">
<!-- CSS -->
<link rel="stylesheet" href="/public/css/site.css?v={{ site.version }}">
<!-- Icons -->
<link rel="apple-touch-icon" sizes="144x144" href="/public/apple-touch-icon.png">
<link rel="shortcut icon" type="image/x-icon" href="/public/favicon.ico">
<!-- RSS -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
{% if site.google.analytics %}{% include analytics.html %}{% endif %} 